{{ 'image-with-blocks.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="image-with-blocks section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}  {{ section.settings.custom_class }}">
   <div class="page-width image-with-blocks__wrapper">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
         <div class="image-with-blocks__text">
            <div class="sub_heding">{{ block.settings.sub_heding }}</div>
            <div class="heding">{{ block.settings.heading }}</div>
         </div>
         {%- when 'image' -%}
          <div class="image-with-blocks__image">
            <img src="{{ block.settings.image | image_url }}" alt="Icon" width="" height="">
          </div>
          {%- when 'label-with-text' -%}
           <div class="image-with-blocks__label-block">
              <div class="label-block">
                {% if block.settings.label_text_1 != blank %}
                    <div class="label-block-label">
                      {{ block.settings.label_text_1 }}
                      </div>
                 {% endif %}
                <div class="label-block-text">
                  {% if block.settings.text_1 != blank or block.settings.description_text_1 != blank %}
                    <div class="label-block-text-item">
                      {% if block.settings.text_1 != blank %}
                        <div class="text">{{ block.settings.text_1 }}</div>
                      {% endif %}
                      {% if block.settings.description_text_1 != blank %}
                          <div class="description_text">{{ block.settings.description_text_1 }}</div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.text_2 != blank or block.settings.description_text_2 != blank %}
                    <div class="label-block-text-item">
                      {% if block.settings.text_2 != blank %}
                        <div class="text">{{ block.settings.text_2 }}</div>
                      {% endif %}
                      {% if block.settings.description_text_2 != blank %}
                          <div class="description_text">{{ block.settings.description_text_2 }}</div>
                      {% endif %}
                    </div>
                    {% endif %}
                </div>
              </div>
              <div class="label-block">
                <div class="label-block-label">
                    {% if block.settings.label_text_2 != blank %}
                      <div class="label">{{ block.settings.label_text_2 }}</div>
                    {% endif %}
                </div>
                <div class="label-block-text">
                  {% if block.settings.text_3 != blank or block.settings.description_text_3 != blank %}
                    <div class="label-block-text-item">
                      {% if block.settings.text_3 != blank %}
                        <div class="text">{{ block.settings.text_3 }}</div>
                      {% endif %}
                      {% if block.settings.description_text_3  != blank %}
                          <div class="description_text">{{ block.settings.description_text_3 }}</div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% if block.settings.text_4 != blank or block.settings.description_text_4 != blank %}
                    <div class="label-block-text-item">
                      {% if block.settings.text_4 != blank %}
                        <div class="text">{{ block.settings.text_4 }}</div>
                      {% endif %}
                      {% if block.settings.description_text_4 != blank %}
                          <div class="description_text">{{ block.settings.description_text_4 }}</div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
                {% if block.settings.disclaimer_text != blank %}
                  <div class="disclaimer_text">{{ block.settings.disclaimer_text }}
                {% endif %}
              </div>
           </div>
      {%- endcase -%}
    {% endfor %}
   </div>
</div>

{% schema %}
{
  "name": "image-with-blocks",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Developer Use",
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "image-with-blocks",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "text",
          "id": "sub_heding",
          "label": "Sub heding"
        }
      ]
    },
    {
      "type": "label-with-text",
      "name": "Label with text",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Text 1"
        },
        {
          "type": "text",
          "id": "label_text_1",
          "label": "Label Text"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1"
        },
        {
          "type": "text",
          "id": "description_text_1",
          "label": "Description Text 1"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "description_text_2",
          "label": "Description Text 2"
        },
        {
          "type": "header",
          "content": "Text 2"
        },
        {
          "type": "text",
          "id": "label_text_2",
          "label": "Label Text"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 1"
        },
        {
          "type": "text",
          "id": "description_text_3",
          "label": "Description Text 1"
        },
        {
          "type": "text",
          "id": "text_4",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "description_text_4",
          "label": "Description Text 2"
        },
        {
          "type": "text",
          "id": "disclaimer_text",
          "label": "Disclaimer Text"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "image-with-blocks",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "image"
        },
        {
          "type": "label-with-text"
        }
      ]
    }
  ]
}
{% endschema %}
