<div class="kv-peacemind-section">
    <div class="kv-peacemind-container">
        <div class="kv-peacemind-content">
            <h2 class="kv-peacemind-title">{{ section.settings.title }}</h2>
            <div class="kv-peacemind-description">
                {{ section.settings.description_top }}
            </div>
            <div class="kv-peacemind-grid">
                <div class="kv-peacemind-grid-item">
                    <div class="kv-peacemind-grid-item-content">
                        <h3 class="kv-peacemind-grid-item-title">{{ section.settings.grid_item_1_title }}</h3>
                        <p class="kv-peacemind-grid-item-description">{{ section.settings.grid_item_1_description }}</p>
                    </div>
                </div>
                <div class="kv-peacemind-grid-item">
                    <div class="kv-peacemind-grid-item-content">
                        <h3 class="kv-peacemind-grid-item-title">{{ section.settings.grid_item_2_title }}</h3>
                        <p class="kv-peacemind-grid-item-description">{{ section.settings.grid_item_2_description }}</p>
                    </div>
                </div>
            </div>
            <div class="kv-peacemind-description">
                {{ section.settings.description_bottom }}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "KV Peacemind Section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "description_top",
            "label": "Description Top"
        },
        {
            "type": "text",
            "id": "grid_item_1_title",
            "label": "Grid Item 1 Title"
        },
        {
            "type": "text",
            "id": "grid_item_1_description",
            "label": "Grid Item 1 Description"
        },
        {
            "type": "text",
            "id": "grid_item_2_title",
            "label": "Grid Item 2 Title"
        },
        {
            "type": "text",
            "id": "grid_item_2_description",
            "label": "Grid Item 2 Description"
        },
        {
            "type": "text",
            "id": "description_bottom",
            "label": "Description Bottom"
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "image_picker",
            "id": "background_image_mobile",
            "label": "Background Image Mobile"
        }
    ],
    "presets": [
        {
            "name": "KV Peacemind Section"
        }
    ]
}
{% endschema %}

<style>
 @font-face {
    font-family: "SpaceGrotesk Regular";
    font-style: normal;
    font-display: swap;
    src: url("https://cdn.shopify.com/s/files/1/0918/3667/8454/files/SpaceGrotesk-Regular.woff2?v=1750668447") format("woff2");
    }
      
@font-face {
    font-family: "SpaceGrotesk Medium";
    font-style: normal;
    font-display: swap;
    src: url("https://cdn.shopify.com/s/files/1/0918/3667/8454/files/SpaceGrotesk-Medium.woff2?v=1750668446") format("woff2");
}

.kv-peacemind-section{
    background-image: url('{{ section.settings.background_image | img_url: 'master' }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.kv-peacemind-section {
    padding: 148px 0px;
}

.kv-peacemind-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
}

.kv-peacemind-content {
    max-width: 390px;
}

.kv-peacemind-title {
    color: #20362A;
    font-family: Teachers,sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.kv-peacemind-description {
    color: #20362A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: SpaceGrotesk Medium;
}






@media (max-width: 767.98px) { 

.kv-peacemind-section{
    background-image: url('{{ section.settings.background_image_mobile | img_url: 'master' }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

}

</style>