{{ 'section-product-feature.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="feature-section--wrapper section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
<div class="feature-section page-width">
    <div class="feature-heading--wrapper">
    <h2 class="feature-heading">{{ section.settings.heading }}</h2>
    </div>
  
  <div class="feature-content">
    <div class="feature-item__left-wrapper">
        <div class="feature-item__top-left-wrapper">
            <div class="feature-item-heading top-left">{{ section.settings.feature_1_heading }}</div>
            <div class="feature-item-description top-left">{{ section.settings.feature_1_description }}</div>
        </div>
        <div class="feature-item__bottom-left-wrapper">
            <div class="feature-item-heading bottom-left">{{ section.settings.feature_2_heading }}</div>
            <div class="feature-item-description bottom-left">{{ section.settings.feature_2_description }}</div>
        </div>
    </div>
    <div class="product-image-wrapper">
      {% if section.settings.product_image %}
        <img src="{{ section.settings.product_image | image_url: width:section.settings.product_image.width }}" width="" height="" alt="Product Image">
      {% endif %}
    </div>
    <div class="feature-item__right-wrapper">
        <div class="feature-item__top-right-wrapper">
            <div class="feature-item-heading top-right">{{ section.settings.feature_3_heading }}</div>
            <div class="feature-item-description top-right">{{ section.settings.feature_3_description }}</div>
        </div>
        <div class="feature-item__bottom-right-wrapper">
            <div class="feature-item-heading bottom-right">{{ section.settings.feature_4_heading }}</div>
            <div class="feature-item-description bottom-right">{{ section.settings.feature_4_description }}</div>
        </div>
    </div>
  </div>
  {% if section.settings.feature_star_image != blank %}
  <div class="feature-star-image-wrraper">
    <img src="{{ section.settings.feature_star_image | image_url: width:section.settings.feature_star_image.width }}" width="" height="" alt="Feature Star Image">
  </div>
{% endif %}
<div class="banner__box-product--wrapper-parent">
<div class="banner__box-product--wrapper">
    {%- assign product_blocks = section.blocks | where: "type", "Product" -%}
    {% if product_blocks.size > 0 %}
      {%- for product_block in product_blocks -%}
        <div class="banner__box-product" {{ product_block.shopify_attributes }}>
          {% render 'card-product',
            card_product: product_block.settings.product,
            media_aspect_ratio: product_block.settings.image_ratio,
            image_shape: product_block.settings.image_shape,
            show_secondary_image: product_block.settings.show_secondary_image,
            show_vendor: product_block.settings.show_vendor,
            show_rating: product_block.settings.show_rating,
            show_description: product_block.settings.show_description,
            show_price: product_block.settings.show_price,
            section_id: product_block.id,
            show_custom_button: product_block.settings.show_custom_button,
            link_on_card_product: product_block.settings.link_on_card_product
          %}
        </div>
      {%- endfor -%}
    {% endif %}
  </div>     
</div>
</div>


{% schema %}
{
  "name": "Product Feature Section",
  "class": "section product-feature-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "product_image",
      "label": "Product Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Backed by science, quality, and safety"
    },
    {
        "type": "header",
        "content": "Feature 1"
    },
    {
      "type": "inline_richtext",
      "id": "feature_1_heading",
      "label": "Feature 1 heading",
    },
    {
        "type": "textarea",
        "id": "feature_1_description",
        "label": "Feature 1 description",
    },
    {
        "type": "header",
        "content": "Feature 2"
    },
    {
      "type": "inline_richtext",
      "id": "feature_2_heading",
      "label": "Feature 2 heading",
    },
    {
        "type": "textarea",
        "id": "feature_2_description",
        "label": "Feature 2 description",
    },
    {
        "type": "header",
        "content": "Feature 3"
    },
    {
      "type": "inline_richtext",
      "id": "feature_3_heading",
      "label": "Feature 3 heading",
    },
    {
        "type": "textarea",
        "id": "feature_3_description",
        "label": "Feature 3 description",
    },
    {
        "type": "header",
        "content": "Feature 4"
    },
    {
      "type": "inline_richtext",
      "id": "feature_4_heading",
      "label": "Feature 4 heading",
    },
    {
        "type": "textarea",
        "id": "feature_4_description",
        "label": "Feature 4 description",
    },
    {
        "type": "image_picker",
        "id": "feature_star_image",
        "label": "Feature Star Image"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
  ],
  "blocks": [
    {
    "type": "Product",
    "name": "Product",
    "limit": 2,
    "settings": [
        {
        "type": "product",
        "id": "product",
        "label": "Product"
        },
        {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
        },
        {
        "type": "select",
        "id": "image_ratio",
        "options": [
            {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
            },
            {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
            },
            {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
            }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
        "type": "select",
        "id": "image_shape",
        "options": [
            {
            "value": "default",
            "label": "t:sections.all.image_shape.options__1.label"
            },
            {
            "value": "arch",
            "label": "t:sections.all.image_shape.options__2.label"
            },
            {
            "value": "blob",
            "label": "t:sections.all.image_shape.options__3.label"
            },
            {
            "value": "chevronleft",
            "label": "t:sections.all.image_shape.options__4.label"
            },
            {
            "value": "chevronright",
            "label": "t:sections.all.image_shape.options__5.label"
            },
            {
            "value": "diamond",
            "label": "t:sections.all.image_shape.options__6.label"
            },
            {
            "value": "parallelogram",
            "label": "t:sections.all.image_shape.options__7.label"
            },
            {
            "value": "round",
            "label": "t:sections.all.image_shape.options__8.label"
            }
        ],
        "default": "default",
        "label": "t:sections.all.image_shape.label",
        "info": "t:sections.all.image_shape.info"
        },
        {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
        "type": "checkbox",
        "id": "show_description",
        "default": false,
        "label": "Show description"
        },
        {
        "type": "checkbox",
        "id": "show_price",
        "default": false,
        "label": "Show Price"
        },
        {
        "type": "text",
        "id": "show_custom_button",
        "label": "Show Custom button"
        }, 
        {
        "type": "checkbox",
        "id": "link_on_card_product",
        "label": "Enable Full Card Click",
        "info": "When this setting is enabled, the product link will work on the entire card, not just on the button."
        },
        {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
        },
        {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
        }
    ]
    }
  ],
  "presets": [
    {
      "name": "Product Feature Section",
    }
  ]
}
{% endschema %}